In [1]:
from kanon.units import Sexagesimal
from kanon.tables.symmetries import Symmetry
from kanon.tables import HTable
import math

In [2]:
# For these calculations we will round after every operations

from kanon.units.precision import get_context, TruncatureMode, PrecisionMode
get_context().mutate(tmode=TruncatureMode.ROUND, pmode=PrecisionMode.MAX)

In [3]:
OBLIQUITY = "23;51,20"

In [4]:
# We construct a table of sine from 0 to 90

sin_table = HTable([
    [Sexagesimal.from_int(x) for x in range(91)],
    [round(Sexagesimal.from_float(math.sin(x * math.pi / 180), 3)) for x in range(91)]
], names=("Arg", "Val"), index="Arg")

sin_table

# We apply a multiplication on all the sine values to get obl_table = Sin(x) * obl

obl = math.sin(Sexagesimal(OBLIQUITY) * math.pi / 180)

obl_table = sin_table.apply("Val", lambda x: x * obl)
obl_table

<HTable length=91>
  Arg         Val
 object      object
-------- -------------
   00 ;  00 ; 00,00,00
   01 ;  00 ; 00,25,25
   02 ;  00 ; 00,50,49
   03 ;  00 ; 01,16,12
   04 ;  00 ; 01,41,34
   05 ;  00 ; 02,06,54
   06 ;  00 ; 02,32,12
   07 ;  00 ; 02,57,27
   08 ;  00 ; 03,22,38
   09 ;  00 ; 03,47,47
     ...           ...
01,21 ;  00 ; 23,58,08
01,22 ;  00 ; 24,01,53
01,23 ;  00 ; 24,05,12
01,24 ;  00 ; 24,08,05
01,25 ;  00 ; 24,10,31
01,26 ;  00 ; 24,12,31
01,27 ;  00 ; 24,14,04
01,28 ;  00 ; 24,15,10
01,29 ;  00 ; 24,15,50
01,30 ;  00 ; 24,16,03

In [5]:
# Arcsin is sin_table taken from Val to Arg instead of Arg to Val

arcsin_table = sin_table.copy(set_index="Val")

# For example, if we want arcsin(0.3) :

arcsin_table.get(0.3)

17 ; 27,29,49,59

In [6]:
# Finally, we apply arcsin_table.get on every obl_table values to find decl_table = arcsin(obltable)

decl_table = obl_table.apply("Val", lambda x: arcsin_table.get(x))
decl_table

<HTable length=91>
  Arg         Val
 object      object
-------- -------------
   00 ;          00 ;
   01 ;  00 ; 24,16,14
   02 ;  00 ; 48,31,31
   03 ;  01 ; 12,46,15
   04 ;  01 ; 37,00,23
   05 ;  02 ; 01,12,38
   06 ;  02 ; 25,23,20
   07 ;  02 ; 49,31,10
   08 ;  03 ; 13,36,16
   09 ;  03 ; 37,40,17
     ...           ...
01,21 ;  23 ; 32,48,11
01,22 ;  23 ; 36,42,29
01,23 ;  23 ; 40,09,43
01,24 ;  23 ; 43,09,53
01,25 ;  23 ; 45,41,55
01,26 ;  23 ; 47,46,53
01,27 ;  23 ; 49,23,44
01,28 ;  23 ; 50,32,27
01,29 ;  23 ; 51,14,07
01,30 ;  23 ; 51,27,39