In [17]:
from kanon.units import Sexagesimal
from kanon.tables.symmetries import Symmetry
from kanon.tables import HTable
import math

In [18]:
# For these calculations we will round after every operations

from kanon.units.precision import get_context, TruncatureMode, PrecisionMode
get_context().mutate(tmode=TruncatureMode.ROUND,pmode=PrecisionMode.MAX)

In [19]:
OBLIQUITY = "23;51,20"

In [20]:
# We construct a table of sine from 0 to 90

sin_table = HTable([
    [Sexagesimal.from_int(x) for x in range(91)],
    [round(Sexagesimal.from_float(math.sin(x * math.pi / 180), 3)) for x in range(91)]
], names=("Arg", "Val"), index="Arg")

sin_table

# We apply a multiplication on all the sine values to get obl_table = Sin(x) * obl

obl = sin_table.get(Sexagesimal(OBLIQUITY))

obl_table = sin_table.apply("Val", lambda x: x * obl)
obl_table

<HTable length=91>
  Arg         Val
 object      object
-------- -------------
   00 ;  00 ; 00,00,00
   01 ;  00 ; 00,25,25
   02 ;  00 ; 00,50,49
   03 ;  00 ; 01,16,12
   04 ;  00 ; 01,41,33
   05 ;  00 ; 02,06,54
   06 ;  00 ; 02,32,11
   07 ;  00 ; 02,57,26
   08 ;  00 ; 03,22,37
   09 ;  00 ; 03,47,46
     ...           ...
01,21 ;  00 ; 23,58,01
01,22 ;  00 ; 24,01,46
01,23 ;  00 ; 24,05,05
01,24 ;  00 ; 24,07,58
01,25 ;  00 ; 24,10,24
01,26 ;  00 ; 24,12,23
01,27 ;  00 ; 24,13,56
01,28 ;  00 ; 24,15,03
01,29 ;  00 ; 24,15,43
01,30 ;  00 ; 24,15,56

In [21]:
# Arcsin is sin_table taken from Val to Arg instead of Arg to Val

arcsin_table = sin_table.copy(set_index="Val")

# For example, if we want arcsin(0.3) :

arcsin_table.get(0.3)

17 ; 27,29,49,59

In [22]:
# Finally, we apply arcsin_table.get on every obl_table values to find decl_table = arcsin(obltable)

decl_table = obl_table.apply("Val", lambda x: arcsin_table.get(x))
decl_table

<HTable length=91>
  Arg         Val
 object      object
-------- -------------
   00 ;          00 ;
   01 ;  00 ; 24,16,14
   02 ;  00 ; 48,31,31
   03 ;  01 ; 12,46,15
   04 ;  01 ; 36,59,26
   05 ;  02 ; 01,12,38
   06 ;  02 ; 25,22,23
   07 ;  02 ; 49,30,13
   08 ;  03 ; 13,35,19
   09 ;  03 ; 37,39,20
     ...           ...
01,21 ;  23 ; 32,40,53
01,22 ;  23 ; 36,35,12
01,23 ;  23 ; 40,02,26
01,24 ;  23 ; 43,02,35
01,25 ;  23 ; 45,34,38
01,26 ;  23 ; 47,38,33
01,27 ;  23 ; 49,15,24
01,28 ;  23 ; 50,25,10
01,29 ;  23 ; 51,06,49
01,30 ;  23 ; 51,20,22